<h2>{{model.title}}</h2>
<img class="story-image" src={{model.image}}>
<br>
<p>{{model.author}}</p>
<p>{{model.story}}</p>

{{edit-article article=model updateArticle="updateArticle"}}

<button {{action 'deleteArticle' model}}>Delete</button>
